/* for body */

body{
	padding-top:60px;
	padding-bottom: 60px;
}

@media (max-width:480px){

	body{
		padding-top:30px;
		padding-bottom:30px;
	}
}

body{
	overflow-x:hidden;
	overflow-y:scroll; 
}
/* nav bar css */
nav {
	height: 5%;
	width: 100%;
	background: #EA5757;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	/*font-weight: bold;*/
	position: relative;
	border-bottom: 2px solid #283744;
	opacity: 0.92;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 500px;
	height: 5%;
}

nav li {
	display: inline;
	float: left;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height:40px;
	/*text-shadow: 1px 1px 0px #283744;*/
}

nav li a {
	border-right: 1px solid #DD2B2B;  
	box-sizing:border-box;  
	-moz-box-sizing:border-box;  
	-webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
	border-right: 0;  
}  

nav a:hover, nav a:active {  
	background-color: #EF1D1D;  
}  
nav a#pull {  
	display: none;  
}  


@media screen and (max-width: 600px) {  
	nav {   
		height: auto;  
	}  
	nav ul {  
		width: 100%;  
		display: block;  
		height: auto;  
	}  
	nav li {  
		width: 50%;  
		float: left;  
		position: relative;  
	}  
	nav li a {  
		border-bottom: 1px solid #DD2B2B;  
		border-right: 1px solid #DD2B2B;  
	}  
	nav a {  
		text-align: left;  
		width: 100%;  
		text-indent: 25px;  
	}  
}  

@media only screen and (max-width : 480px) {  
	nav {  
		border-bottom: 0;  
	}  
	nav ul {  
		display: none;  
		height: auto;  
	}  
	nav a#pull {  
		display: block;  
		background-color: #299ECB;  
		width: 100%;  
		position: relative;  
	}  
	nav a#pull:after {  
		content:"";  
		background: url('/images/nav-icon.png') no-repeat;  
		width: 30px;  
		height: 30px;  
		display: inline-block;  
		position: absolute;  
		right: 15px;  
		top: 10px;  
	}  
}
@media only screen and (max-width : 320px) {  
	nav li {  
		display: block;  
		float: none;  
		width: 100%;  
	}  
	nav li a {  
		border-bottom: 1px solid #DD2B2B;  
	}  
}  

nav a:hover, nav a:focus{
	text-decoration: none;
	color: #ecf0f1;
} 

/*for the logo */
#logo{
	width:100%;
	position:fixed;
	top:6%;
}


/* for the blog posts and layut */
.main-content{
	left:20%;
	margin-top: 90px;
	margin-bottom: 70px;
}

@media (max-width:480px){
	.main content{
		margin-top:40px;
		margin-bottom:35px;
	}
}

ul .blog-posts{
	margin-right:45px;
}

.blog-post{
	line-height: 30px;
}

.blog-pagination{
	margin-top:80px;
}

.blog-pagination .newer {
	float ; left;
}

.blog-pagination .older {
	float:right;
}
ul.blog-posts{
	list-style:none;
	margin:0;
}
ul.blog-posts li{
	background-position:bottom center;
	background-repeat:no-repeat;
	margin-bottom:60px;
	padding-bottom:60px;
}
ul.blog-posts li.last{
	background-image:none;
	padding-bottom:0px; 
}
