---
layout: default
title: Delta Blog
---

<div class="row featurette">
  <ul class="blog-posts">
    {% for post in site.posts %}
      <li>
      	<article class="blog-post">
      		<h1 class="featurette-heading text-muted">
            <center>
      			<a href="{{ post.url }}">{{ post.title }}</a>
      		  </center>
          </h1>
          <div class="blogged">
            <div id="date">
            {{post.date| date_to_string}}
            <div>
          </div>
      		<p class="lead">
      			{{ post.content | split:'<!--next-->'| first}}
      		</p>
      		{% if post.content contains '<!--next-->' %}
      		<p>
            <button type="button" class="btn btn-lg btn-primary">
        			<a href="{{ post.url }}">Continue Reading</a>
            </button>
      		</p>		
      		{% endif %}
      		<p class="tags">
      			Posted about 
            <button id="category" class="btn btn-lg btn-danger"> {{ post.categories | category_links }} </button>
          </p> 
      	</article>	
          <hr class="featurette-divider">
      </li>
    {% endfor %}
  </ul>
</div>
<div class="blog-pagination">
	<div class="newer">
		{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a href="/">« Newer posts</a>
		{% else %}
		<a href="/page{{ paginator.previous_page }}/" >« Newer posts</a>
		{% endif %}
		{% endif %}
	</div>
	<div class="older">
		{% if paginator.next_page %} 
		<a href="/page{{ paginator.next_page }}/">Older posts »</a>
		{% endif %} 
	</div>
</div>