---
layout: default
title: Delta Blog
---

<div>
 
  <ul class="blog-posts">
    {% for post in site.posts %}
      <li>
      	<article class="blog-post">
      		<div class="blogged">
      			{{post.date| date_to_string}}
      		</div>
      		<h1>
      			<a href="{{ post.url }}">{{ post.title }}</a>
      		</h1>
      		<p>
      			{{ post.content | split:'<!--next-->'| first}}
      		</p>
      		{% if post.content contains '<!--next-->' %}
      		<p>
      			<a href="{{ post.url }}" class="button-link">Continue Reading</a>
      		</p>		
      		{% endif %}
      		<p class="tags">
      			Posted about {{ post.categories | category_links }}
      		</p>
      	</article>	
      </li>
    {% endfor %}
  </ul>
</div>